#event{
    width: 100%;
    padding: 70px 0; 
 }
.event-box{
    
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}

.events{
    flex-basis: 50%;
}
.events-img{
    flex-basis: 50%;
    margin: auto;
}
.events-img img{
    width: 70%;
    border-radius: 10px;
}
.events h1{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #009688;
}

.events-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.event-icon .fas{
width: 50px;
height: 50px;
font-size: 30px;
line-height: 50px;
border-radius: 8px;
color:#009688;
border: 1px solid #009688;
}


.event-text p{
    padding:0 20px;
    text-align: initial;
}

@media screen and (max-width:770px){
    .title-text h1{
        font-size: 35px;
    }
    .events{
        flex-basis:100%;
    }
    .events-img{
        flex-basis: 100%;
       
    }
    .events-img img{
        width: 100%;
    }
}
.title-text{
    text-align: center;
    padding-bottom: 70px;
}
.title-text p{
    margin: auto;
    font-size: 20px;
    color:#fff;
    font-weight:bold;
    position: relative;
    z-index:1 ;
    display: inline-block;
    margin-bottom: 15px;
}
.title-text p::after{
    content:'';
    width: 100%;
    height: 35px;
    background:linear-gradient(#019587,#fff);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    transform: rotate(0deg);
  
}
.title-text h1{
    font-size: 50px;
}
.event-icon .fa{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color:#009688;
    border: 1px solid #009688;
    }

    #contact{
        width: 100%;
        background: #efefef;
    }

    .heading-contact{
        margin-top: 50px;
        padding-top:30px;
    }