
  .css-button {
	font-family: Arial;
	color: #ffffff;
	font-size: 16px;
	border-radius: 5px;
	border: 0px #aa45a7 solid;
	background: linear-gradient(180deg, #8447FF 5%, #1B98E0 100%);
	text-shadow: 1px 1px 1px #ffffff;
	box-shadow: 0px 10px 14px -7px #616174;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
    margin:5px;
}
.css-button:hover {
	background: linear-gradient(180deg, #2A4494 5%, #4EA5D9 100%);
}
.css-button-icon {
	padding: 10px 10px;
	border-right: 1px solid rgba(255, 255, 255, 0.16);
	/* box-shadow: rgba(0, 0, 0, 0.14) -1px 0px 0px inset; */
}
.css-button-text {
	padding: 10px 18px;
}

.header{
  position:sticky;
  top: 0px;
  z-index: 999;
  overflow: hidden;
}